{{ 'css-section-four-banner.css' | asset_url | stylesheet_tag }}
{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{%- assign margin = '' -%}
{%- if section.settings.margin != blank -%}
  {%- capture margin -%}margin: {{ section.settings.margin }};{%- endcapture -%}
{%- endif -%}
{%- assign effect = section.settings.effect -%}
{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- assign position 	= section.settings.content_position -%}
{%- style -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .wpbingo-section--four-banner{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .wpbingo-section--four-banner{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .wpbingo-section--four-banner{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .wpbingo-section--four-banner{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
    {%- if section.blocks.size > 0 -%}
		{%- for block in section.blocks -%}
			{%- if block.type == 'css' -%}
				#shopify-section-{{ section.id }} .wpbingo-section--four-banner .subtitle-banner{
					font-size: {{ block.settings.font_size_subtitle }}px;
					line-height: {{ block.settings.line_height_subtitle }}px;
					font-weight: {{ block.settings.font_weight_subtitle }};
					letter-spacing:{{ block.settings.letter_spacing_subtitle }}px;
					color:{{ block.settings.color_subtitle }};
					margin:{{ block.settings.margin_subtitle }};
				}
				#shopify-section-{{ section.id }} .wpbingo-section--four-banner .title-banner{
					font-size: {{ block.settings.font_size_title }}px;
					line-height: {{ block.settings.line_height_title }}px;
					font-weight: {{ block.settings.font_weight_title }};
					letter-spacing:{{ block.settings.letter_spacing_title }}px;
					color:{{ block.settings.color_title }};
					margin:{{ block.settings.margin_title }};
				}
				#shopify-section-{{ section.id }} .wpbingo-section--four-banner .bwp-button{
					font-size: {{ block.settings.font_size_button }}px;
					line-height: {{ block.settings.line_height_button }}px;
					color:{{ block.settings.color_button }};
					padding:{{ block.settings.padding_button }};
					background:{{ block.settings.bg_button }};
					font-weight: {{ block.settings.font_weight_button }};
					letter-spacing:{{ block.settings.letter_spacing_button }}px;
					border-radius:{{ block.settings.border_radius }};
					overflow:hidden;
				}
				{%- if block.settings.border -%}
					#shopify-section-{{ section.id }} .wpbingo-section--four-banner .bwp-button:before{
						height:{{ block.settings.border_width }};
						background:{{ block.settings.border_color_button }};
					}
				{%- endif -%}
				#shopify-section-{{ section.id }} .wpbingo-section--four-banner .bwp-button:hover{
					color:{{ block.settings.color_hover_button }};
					background:{{ block.settings.bg_hover_button }};
				}
				#shopify-section-{{ section.id }} .wpbingo-section--four-banner .bwp-button:hover:before{
					background:{{ block.settings.border_color_hover_button }};
				}
				@media(max-width:767px){
					#shopify-section-{{ section.id }} .wpbingo-section--four-banner .subtitle-banner{
						font-size: {{ block.settings.font_size_subtitle_mobi }}px;
						line-height: {{ block.settings.line_height_subtitle_mobi }}px;
						margin:{{ block.settings.margin_subtitle_mobi }};
					}
					#shopify-section-{{ section.id }} .wpbingo-section--four-banner .title-banner{
						font-size: {{ block.settings.font_size_title_mobi }}px;
						line-height: {{ block.settings.line_height_title_mobi }}px;
						margin:{{ block.settings.margin_title_mobi }};
					}
					#shopify-section-{{ section.id }} .wpbingo-section--four-banner .bwp-button{
						font-size: {{ block.settings.font_size_button_mobi }}px;
						line-height: {{ block.settings.line_height_button_mobi }}px;
						padding:{{ block.settings.padding_button_mobi }};
						border-radius:{{ block.settings.border_radius_mobi }};
					}
				}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endstyle -%}

<section class="wpbingo-section wpbingo-section--four-banner overflow-hidden">
	<div class="{{ container }}" {{ max_width }}>
		<div class="wpbingo-section__inner">
			<div class="wpbingo-section__content">
                <div class="single-banner">
					<div class="banner-1 featured-banner bwp-effect-{{ section.settings.effect }}">
						<div class="banner-image">
							<div class="image">
								<a href="{{ section.settings.image_url1 }}">
									{%- if section.settings.image1 -%}
										{% include 'img-global' with image: section.settings.image1, class: "featured-banner__img", effect: "fade-in" %}
									{%- else -%}
										<img class="lazyload fade-in" src="https://placehold.jp/863x756.png" width="863" height="756" />
									{%- endif -%}
								</a>
							</div>
						</div>
						<div class="banner-wrapper-infor position-{{ position }}">
							<div class="info">
								<div class="content">
									{%- if section.settings.subtitle1 != blank -%}
										<div class="subtitle-banner">{{ section.settings.subtitle1 }}</div>
									{%- endif -%}
                                    {%- if section.settings.title1 != blank -%}
										<h3 class="title-banner">{{ section.settings.title1 }}</h3>
									{%- endif -%}
									{%- if section.settings.button1 != blank -%}
										<a class="bwp-button" href="{{ section.settings.url1 }}">{{ section.settings.button1 }}</a>
									{%- endif -%}
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="group-banner">
                    <div class="banner-2 featured-banner bwp-effect-{{ section.settings.effect }}">
                        <div class="banner-image">
							<div class="image">
								<a href="{{ section.settings.image_url2 }}">
									{%- if section.settings.image2 -%}
										{% include 'img-global' with image: section.settings.image2, class: "featured-banner__img", effect: "fade-in" %}
									{%- else -%}
										<img class="lazyload fade-in" src="https://placehold.jp/863x408.png" width="863" height="408" />
									{%- endif -%}
								</a>
							</div>
                        </div>
                        <div class="banner-wrapper-infor position-{{ position }}">
                            <div class="info">
                                <div class="content">
                                    {%- if section.settings.subtitle2 != blank -%}
                                        <div class="subtitle-banner">{{ section.settings.subtitle2 }}</div>
                                    {%- endif -%}
									{%- if section.settings.title2 != blank -%}
                                        <h3 class="title-banner">{{ section.settings.title2 }}</h3>
                                    {%- endif -%}
                                    {%- if section.settings.button2 != blank -%}
                                        <a class="bwp-button" href="{{ section.settings.url2 }}">{{ section.settings.button2 }}</a>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-3 featured-banner bwp-effect-{{ section.settings.effect }}">
                        <div class="banner-image">
							<div class="image">
								<a href="{{ section.settings.image_url3 }}">
									{%- if section.settings.image3 -%}
										{% include 'img-global' with image: section.settings.image3, class: "featured-banner__img", effect: "fade-in" %}
									{%- else -%}
										<img class="lazyload fade-in" src="https://placehold.jp/425x332.png" width="425" height="332" />
									{%- endif -%}
								</a>
							</div>
                        </div>
                        <div class="banner-wrapper-infor position-{{ position }}">
                            <div class="info">
                                <div class="content">
                                    {%- if section.settings.subtitle3 != blank -%}
                                        <div class="subtitle-banner">{{ section.settings.subtitle3 }}</div>
                                    {%- endif -%}
									{%- if section.settings.title3 != blank -%}
                                        <h3 class="title-banner">{{ section.settings.title3 }}</h3>
                                    {%- endif -%}
                                    {%- if section.settings.button3 != blank -%}
                                        <a class="bwp-button" href="{{ section.settings.url3 }}">{{ section.settings.button3 }}</a>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="banner-4 featured-banner bwp-effect-{{ section.settings.effect }}">
						<div class="banner-image">
							<div class="image">
								<a href="{{ section.settings.image_url4 }}">
									{%- if section.settings.image4 -%}
										{% include 'img-global' with image: section.settings.image4, class: "featured-banner__img", effect: "fade-in" %}
									{%- else -%}
										<img class="lazyload fade-in" src="https://placehold.jp/425x332.png" width="425" height="332" />
									{%- endif -%}
								</a>
							</div>
						</div>
						<div class="banner-wrapper-infor position-{{ position }}">
							<div class="info">
								<div class="content">
									{%- if section.settings.subtitle4 != blank -%}
										<div class="subtitle-banner">{{ section.settings.subtitle4 }}</div>
									{%- endif -%}
									{%- if section.settings.title4 != blank -%}
										<h3 class="title-banner">{{ section.settings.title4 }}</h3>
									{%- endif -%}
									{%- if section.settings.button4 != blank -%}
										<a class="bwp-button" href="{{ section.settings.url4 }}">{{ section.settings.button4 }}</a>
									{%- endif -%}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% schema %}
{
	"name": "Four Banner",
	"class": "wpbingo-framework",
	"settings": [
		{
			"type": "header",
			"content": "Layout settings"
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Width container",
			"info": "Default: 1440px"
		},
		{
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Fullwidth"
		},
		{
			"type": "text",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "text",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "header",
			"content": "Banner 1"
		},
		{
			"type": "image_picker",
			"id": "image1",
			"label": "Image"
		},
        {
			"type": "text",
			"id": "subtitle1",
			"label": "Subtitle"
		},
		{
			"type": "text",
			"id": "title1",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "button1",
			"label": "button"
		},
		{
			"type": "url",
			"id": "url1",
			"label": "Image URL",
			"default": "/"
		},
		{
			"type": "header",
			"content": "Banner 2"
		},
		{
			"type": "image_picker",
			"id": "image2",
			"label": "Image"
		},
        {
			"type": "text",
			"id": "subtitle2",
			"label": "Subtitle"
		},
		{
			"type": "text",
			"id": "title2",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "button2",
			"label": "button"
		},
		{
			"type": "url",
			"id": "url2",
			"label": "Image URL",
			"default": "/"
		},
		{
			"type": "header",
			"content": "Banner 3"
		},
		{
			"type": "image_picker",
			"id": "image3",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "subtitle3",
			"label": "Subtitle"
		},
        {
			"type": "text",
			"id": "title3",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "button3",
			"label": "button"
		},
		{
			"type": "url",
			"id": "url3",
			"label": "Image URL",
			"default": "/"
		},
		{
			"type": "header",
			"content": "Banner 4"
		},
		{
			"type": "image_picker",
			"id": "image4",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "subtitle4",
			"label": "Subtitle"
		},
		{
			"type": "text",
			"id": "title4",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "button4",
			"label": "button"
		},
		{
			"type": "url",
			"id": "url4",
			"label": "Image URL",
			"default": "/"
		},
		{
			"type": "select",
			"id": "effect",
			"label": "Effect",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "grow",
					"label": "Grow"
				},
				{
					"value": "shrink",
					"label": "Shrink"
				},
				{
					"value": "pulse",
					"label": "Pulse"
				},
				{
					"value": "pulse-grow",
					"label": "Pulse Grow"
				},
				{
					"value": "pulse-shrink",
					"label": "Pulse Shrink"
				},
				{
					"value": "push",
					"label": "Push"
				},
				{
					"value": "pop",
					"label": "Pop"
				},
				{
					"value": "bounce-in",
					"label": "Bounce In"
				},
				{
					"value": "bounce-out",
					"label": "Bounce Out"
				},
				{
					"value": "rotate",
					"label": "Rotate"
				},
				{
					"value": "grow-rotate",
					"label": "Grow Rotate"
				},
				{
					"value": "float",
					"label": "Float"
				},
				{
					"value": "sink",
					"label": "Sink"
				},
				{
					"value": "bob",
					"label": "Bob"
				},
				{
					"value": "hang",
					"label": "Hang"
				},
				{
					"value": "skew",
					"label": "Skew"
				},
				{
					"value": "skew-forward",
					"label": "Skew Forward"
				},
				{
					"value": "skew-backward",
					"label": "Skew Backward"
				},
				{
					"value": "wobble-vertical",
					"label": "Wobble Vertical"
				},
				{
					"value": "wobble-horizontal",
					"label": "Wobble Horizontal"
				},
				{
					"value": "wobble-to-bottom-right",
					"label": "Wobble To Bottom Right"
				},
				{
					"value": "wobble-to-top-right",
					"label": "Wobble To Top Right"
				},
				{
					"value": "wobble-top",
					"label": "Wobble Top"
				},
				{
					"value": "wobble-bottom",
					"label": "Wobble Bottom"
				},
				{
					"value": "wobble-skew",
					"label": "Wobble Skew"
				},
				{
					"value": "buzz",
					"label": "Buzz"
				},
				{
					"value": "buzz-out",
					"label": "Buzz Out"
				}
			],
			"default": "none"
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "absolute",
					"label": "In the picture"
				},
				{
					"value": "unset",
					"label": "Bottom"
				}
			],
			"default": "absolute"
		}
	],
    "blocks": [
		{
			"type": "css",
			"name": "Custom css",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "====== Subtitle ======"
				},
				{
					"type": "color",
					"id": "color_subtitle",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_subtitle",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_subtitle",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_subtitle",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight_subtitle",
					"label": "Font Weight",
					"default": "500"
				},
				{
					"type": "text",
					"id": "margin_subtitle",
					"label": "margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "====== Title ======"
				},
				{
					"type": "color",
					"id": "color_title",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_title",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_title",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_title",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight_title",
					"label": "Font Weight",
					"default": "500"
				},
				{
					"type": "text",
					"id": "margin_title",
					"label": "margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "====== button ======"
				},
				{
					"type": "checkbox",
					"id": "border",
					"label": "Turn on border",
					"default": false
				},
				{
					"type": "number",
					"id": "border_width",
					"label": "Border width",
					"default": 0
				},
				{
					"type": "color",
					"id": "bg_button",
					"label": "Background"
				},
				{
					"type": "color",
					"id": "color_button",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "border_color_button",
					"label": "Border color",
					"default": "#dddddd"
				},
				{
					"type": "header",
					"content": "hover button"
				},
				{
					"type": "color",
					"id": "bg_hover_button",
					"label": "Background"
				},
				{
					"type": "color",
					"id": "color_hover_button",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "border_color_hover_button",
					"label": "Border color",
					"default": "#dddddd"
				},
				{
					"type": "text",
					"id": "border_radius",
					"label": "Border radius",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "number",
					"id": "font_size_button",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_button",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_button",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight_button",
					"label": "Font Weight",
					"default": "500"
				},
				{
					"type": "text",
					"id": "padding_button",
					"label": "Padding",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "====== Mobile ======",
					"info": "screen < 767px"
				},
				{
					"type": "header",
					"content": "---------- Subtitle"
				},
				{
					"type": "number",
					"id": "font_size_subtitle_mobi",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_subtitle_mobi",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_subtitle_mobi",
					"label": "margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "---------- Title"
				},
				{
					"type": "number",
					"id": "font_size_title_mobi",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_title_mobi",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_title_mobi",
					"label": "margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "---------- button"
				},
				{
					"type": "text",
					"id": "border_radius_mobi",
					"label": "Border radius",
					"default": "0px 0px 0px 0px",
					"info": "top right bottom left"
				},
				{
					"type": "number",
					"id": "font_size_button_mobi",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_button_mobi",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "text",
					"id": "padding_button_mobi",
					"label": "Padding",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Four Banner",
			"category": "5. Image"
		}
	]
}
{% endschema %}
