
{{ 'css-section-collection-list.css' | asset_url | stylesheet_tag }}
{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{%- assign columns = section.settings.columns -%}
{%- assign column1440 = section.settings.column1440 -%}
{%- assign column1 = section.settings.column1 -%}
{%- assign column2 = section.settings.column2 -%}
{%- assign column3 = section.settings.column3 -%}
{%- assign column4 = section.settings.column4 -%}
{%- assign limit = section.settings.limit | plus: 0 -%}
{% capture col_gird %}
  {% if columns == 5 %} col-xl-2-5{% else %} col-xl-{{ 12 | divided_by: columns }}{% endif %}
  {% if column1440 == 5 %} col-xx-2-5{% else %} col-xx-{{ 12 | divided_by: column1440 }}{% endif %}
  {% if column1 == 5 %} col-lg-2-5{% else %} col-lg-{{ 12 | divided_by: column1 }}{% endif %}
  {% if column2 == 5 %} col-md-2-5{% else %} col-md-{{ 12 | divided_by: column2 }}{% endif %}
  {% if column3 == 5 %} col-sm-2-5{% else %} col-sm-{{ 12 | divided_by: column3 }}{% endif %}
  {% if column4 == 5 %} col-2-5{% else %} col-{{ 12 | divided_by: column4 }}{% endif %}
{% endcapture %}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
	{%- if section.settings.fullwidth == blank and section.settings.max_width != blank and width_container > 1200 -%}
		@media (max-width: {{ section.settings.max_width }}) and (min-width: 1200px){
			#shopify-section-{{ section.id }} .bwp-container{
				padding-left:30px;
				padding-right:30px;
			}
		}
	{%- endif -%}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .wpbingo-section--collections-list{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .wpbingo-section--collections-list{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .wpbingo-section--collections-list{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .wpbingo-section--collections-list{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
    {%- if section.blocks.size > 0 -%}
		{%- for block in section.blocks -%}
			{%- if block.type == 'css' -%}
				#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-item .content-right {
                        padding:{{ block.settings.padding_content }};
                    }
				#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-item__title h3{
					font-size: {{ block.settings.font_size }}px;
					line-height: {{ block.settings.line_height }}px;
					font-weight: {{ block.settings.font_weight }};
					letter-spacing:{{ block.settings.letter_spacing }}px;
					color:{{ block.settings.color }};
					text-transform:{{ block.settings.text_transform }};
                    margin:{{ block.settings.margin }};
				}
                #shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-card__menu li{
					font-size: {{ block.settings.font_size_desc }}px;
					line-height: {{ block.settings.line_height_desc }}px;
					font-weight: {{ block.settings.font_weight_desc }};
					letter-spacing:{{ block.settings.letter_spacing_desc }}px;
					margin:{{ block.settings.margin_desc }};
				}
				#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-card__menu a {
					color:{{ block.settings.color_desc }};
				}
				#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-card__menu a:hover{
					color:{{ block.settings.color_desc_hover }};
				}
                @media(max-width:1200px){
                    #shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-item .content-right {
                        padding:{{ block.settings.padding_content_tablet }};
                    }
					#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-item__title h3{
						font-size: {{ block.settings.font_size_tablet }}px;
						line-height: {{ block.settings.line_height_tablet }}px;
						font-weight: {{ block.settings.font_weight_tablet }};
						letter-spacing:{{ block.settings.letter_spacing_tablet }}px;
                        margin:{{ block.settings.margin_tablet }};
					}
					#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-card__menu li{
						font-size: {{ block.settings.font_size_desc_tablet }}px;
						line-height: {{ block.settings.line_height_desc_tablet }}px;
						margin:{{ block.settings.margin_desc_tablet }};
					}
                }
				@media(max-width:767px){
					#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-item .content-right {
                        padding:{{ block.settings.padding_content_mobi }};
                    }
					#shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-item__title h3{
						font-size: {{ block.settings.font_size_mobi }}px;
						line-height: {{ block.settings.line_height_mobi }}px;
						font-weight: {{ block.settings.font_weight_mobi }};
						letter-spacing:{{ block.settings.letter_spacing_mobi }}px;
                        margin:{{ block.settings.margin_mobi }};
					}
                    #shopify-section-{{ section.id }} .wpbingo-section--collections-list .collection-card__menu li{
						font-size: {{ block.settings.font_size_desc_mobi }}px;
						line-height: {{ block.settings.line_height_desc_mobi }}px;
						margin:{{ block.settings.margin_desc_mobi }};
					}
				}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endstyle -%}

<section class="wpbingo-section wpbingo-section--collections-list overflow-hidden">
	<div class="{{ container }}" {{ max_width }}>
		<div class="wpbingo-section__inner">
			<div class="wpbingo-section__content">
				{%- if section.blocks.size > 0 -%}
					<div class="row">
						{%- for block in section.blocks -%}
							{%- if block.type == 'collection' -%}
								{%- assign title 			= block.settings.title -%}
								{%- assign collection_handle 	= collection.handle -%}
								{%- assign image 		= block.settings.image -%}
								<div class="slick-carousel__item {{ col_gird }}">
									<div class="collection-item" style="background:{{ block.settings.background_item }};">
										<div class="content-left bwp-effect-{{ section.settings.effects }}">
											<div class="image">
												{%- if image -%}
													{% include 'img-global' with image: image, class: "featured-banner__img", effect: "fade-in" %}
												{%- else -%}
													<img class="lazyload fade-in" src="https://placehold.jp/428x394.png" width="428" height="394" />
												{%- endif -%}
											</div>
										</div>
										<div class="content-right">
											{%- if title != blank -%}
												<div class="collection-item__title">
													<h3>{{ title }}</h3>
												</div>
											{%- endif -%}
											{%- if linklists[block.settings.collection_link_list].links != blank -%}
												<ul class="collection-card__menu">
												{%- for link in linklists[block.settings.collection_link_list].links -%}
													<li><a href="{{ link.url }}">{{ link.title }}</a></li>
												{%- endfor -%}
												</ul>
											{%- endif -%}
										</div>
									</div>
								</div>
							{%- endif -%}
						{%- endfor -%}
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Collection List",
  "class": "wpbingo-framework",
  "settings": [
    {
		"type": "header",
		"content": "Layout settings"
    },
	{
		"type": "text",
		"id": "max_width",
		"label": "Width container",
		"info": "Default: 1440px"
	},
	{
		"type": "checkbox",
		"id": "fullwidth",
		"label": "Fullwidth"
	},
	{
		"type": "text",
		"id": "padding",
		"label": "Padding",
		"placeholder": "0px 0px 0px 0px",
		"info":"Screen: desktop | 1200px | 991px | 767px"
	},
	{
		"type": "text",
		"id": "margin",
		"label": "Margin",
		"placeholder": "0px 0px 0px 0px",
		"info":"Screen: desktop | 1200px | 991px | 767px"
	},
    {
		"type": "header",
		"content": "Carousel Settings"
    },
	{
		"type": "range",
		"id": "limit",
		"min": 1,
		"max": 20,
		"step": 1,
		"label": "Number of products",
		"default": 8
	},
    {
		"type": "range",
		"id": "columns",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns >1440px",
		"default": 4,
		"info": "Desktops"
	},
	{
		"type": "range",
		"id": "column1440",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns 1200px to 1440px",
		"default": 4,
		"info": "Desktops"
	},
	{
		"type": "range",
		"id": "column1",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns on 992px to 1199px",
		"default": 4,
		"info": "Desktops"
	},
	{
		"type": "range",
		"id": "column2",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns on 768px to 991px",
		"default": 3,
		"info": "Laptop"
	},
	{
		"type": "range",
		"id": "column3",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns on 480px to 767px",
		"default": 1,
		"info": "Tablets"
	},
	{
		"type": "range",
		"id": "column4",
		"min": 1,
		"max": 5,
		"step": 1,
		"label": "Number of Columns in 480px or less than",
		"default": 1,
		"info": "Mobile phone"
	},
	{
		"type": "select",
		"id": "effects",
		"label": "Effects",
		"options": [
			{
				"value": "none",
				"label": "None"
			},
			{
				"value": "grow",
				"label": "Grow"
			},
			{
				"value": "shrink",
				"label": "Shrink"
			},
			{
				"value": "pulse",
				"label": "Pulse"
			},
			{
				"value": "pulse-grow",
				"label": "Pulse Grow"
			},
			{
				"value": "pulse-shrink",
				"label": "Pulse Shrink"
			},
			{
				"value": "push",
				"label": "Push"
			},
			{
				"value": "pop",
				"label": "Pop"
			},
			{
				"value": "bounce-in",
				"label": "Bounce In"
			},
			{
				"value": "bounce-out",
				"label": "Bounce Out"
			},
			{
				"value": "rotate",
				"label": "Rotate"
			},
			{
				"value": "grow-rotate",
				"label": "Grow Rotate"
			},
			{
				"value": "float",
				"label": "Float"
			},
			{
				"value": "sink",
				"label": "Sink"
			},
			{
				"value": "bob",
				"label": "Bob"
			},
			{
				"value": "hang",
				"label": "Hang"
			},
			{
				"value": "skew",
				"label": "Skew"
			},
			{
				"value": "skew-forward",
				"label": "Skew Forward"
			},
			{
				"value": "skew-backward",
				"label": "Skew Backward"
			},
			{
				"value": "wobble-vertical",
				"label": "Wobble Vertical"
			},
			{
				"value": "wobble-horizontal",
				"label": "Wobble Horizontal"
			},
			{
				"value": "wobble-to-bottom-right",
				"label": "Wobble To Bottom Right"
			},
			{
				"value": "wobble-to-top-right",
				"label": "Wobble To Top Right"
			},
			{
				"value": "wobble-top",
				"label": "Wobble Top"
			},
			{
				"value": "wobble-bottom",
				"label": "Wobble Bottom"
			},
			{
				"value": "wobble-skew",
				"label": "Wobble Skew"
			},
			{
				"value": "buzz",
				"label": "Buzz"
			},
			{
				"value": "buzz-out",
				"label": "Buzz Out"
			}
		],
		"default": "none"
	}
  ],
  "blocks": [
		{
			"type": "collection",
			"name": "Collection",
			"settings": [
				{
					"type": "color",
					"id": "background_item",
					"label": "Background Item",
					"default": "#fff"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Title"
				},
				{
					"type": "link_list",
					"id": "collection_link_list",
					"label": "Menu"
				}
			]
		},
        {
			"type": "css",
			"name": "Custom css",
			"limit": 1,
			"settings": [
                {
					"type": "text",
					"id": "padding_content",
					"label": "Padding content",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "====== TITLE ======"
				},
				{
					"type": "color",
					"id": "color",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight",
					"label": "Font Weight",
					"default": "500"
				},
				{
					"type": "select",
					"id": "text_transform",
					"label": "Text Transform",
					"options": [
						{
							"value": "none",
							"label": "Default"
						},
						{
							"value": "capitalize",
							"label": "Capitalize"
						},
						{
							"value": "uppercase",
							"label": "Uppercase"
						},
						{
							"value": "lowercase",
							"label": "Lowercase"
						}
					],
					"default": "uppercase"
				},
                {
					"type": "text",
					"id": "margin",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
                {
					"type": "header",
					"content": "====== List ======"
				},
				{
					"type": "color",
					"id": "color_desc",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "color_desc_hover",
					"label": "Color hover",
					"default": "#ed5d43"
				},
				{
					"type": "number",
					"id": "font_size_desc",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_desc",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_desc",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight_desc",
					"label": "Font Weight",
					"default": "400"
				},
				{
					"type": "text",
					"id": "margin_desc",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
                {
					"type": "header",
					"content": "====== Tablet ======",
					"info": "screen < 1200px"
				},
                {
					"type": "text",
					"id": "padding_content_tablet",
					"label": "Padding content",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "====== Title ======"
				},
				{
					"type": "color",
					"id": "color_tablet",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_tablet",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_tablet",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_tablet",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight_tablet",
					"label": "Font Weight",
					"default": "500"
				},
                {
					"type": "text",
					"id": "margin_tablet",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "====== List ======"
				},
                {
					"type": "number",
					"id": "font_size_desc_tablet",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_desc_tablet",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_desc_tablet",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
				{
					"type": "header",
					"content": "====== Mobile ======",
					"info": "screen < 767px"
				},
				{
					"type": "text",
					"id": "padding_content_mobi",
					"label": "Padding content",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
                {
					"type": "header",
					"content": "====== Title ======"
				},
				{
					"type": "color",
					"id": "color_mobi",
					"label": "color",
					"default": "#000"
				},
				{
					"type": "number",
					"id": "font_size_mobi",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_mobi",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "number",
					"id": "letter_spacing_mobi",
					"label": "Letter spacing",
					"default": 0,
					"info": "px"
				},
				{
					"type": "text",
					"id": "font_weight_mobi",
					"label": "Font Weight",
					"default": "500"
				},
                {
					"type": "text",
					"id": "margin_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				},
                {
					"type": "header",
					"content": "====== List ======"
				},
                {
					"type": "number",
					"id": "font_size_desc_mobi",
					"label": "Font size",
					"default": 16,
					"info": "px"
				},
				{
					"type": "number",
					"id": "line_height_desc_mobi",
					"label": "Line height",
					"default": 22,
					"info": "px"
				},
				{
					"type": "text",
					"id": "margin_desc_mobi",
					"label": "Margin",
					"default": "0px 0px 0px 0px",
					"placeholder":"0px 0px 0px 0px"
				}
			]
		}
	],
  "presets": [
    {
      "name": "Collection List",
      "category": "2. Collection",
      "blocks": [
        {
			"type": "collection"
		},
		{
			"type": "collection"
		},
		{
			"type": "collection"
		},
		{
			"type": "collection"
		},
		{
			"type": "collection"
		}
      ]
    }
  ]
}
{% endschema %}

